{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    <p class="m-footer-copyright">
      <span> The Fundamentals &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span>{{t "Hosted With"}} <a href="https://ghost.org" target="_blank" rel="noopener">Ghost CMS</a></span>
      <a href="https://www.patreon.com/bePatron?u=35936275" data-patreon-widget-type="become-patron-button"> Support Us!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </p>

   
      {{/if}}
      {{#if @site.twitter}}
        <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
          <span class="icon-twitter"></span>
        </a>
      {{/if}}
    </nav>
    <p class="m-footer-copyright jslicense">
      <a href="{{asset "html/javascript.html"}}" rel="jslicense">{{t "JavaScript license information"}}</a>
    </p>
  </div>
</footer>
