{{!--
This footer template is shared across all the pages.
--}}

<div class="m-footer-nav">
  <div class="l-wrapper">
    <div class="l-grid space-around">
            <div>
                <h3 class="m-footer-heading">Products</h3>
                <ul class="m-product-list">
                    <li><a href="https://wheresitup.com">
                        <svg class="product-icon">
                            <use xlink:href="{{@blog.url}}/assets/images/products.svg#wheres-it-up"></use>
                        </svg>Where&#8217;s It Up?</a>
                    </li>
                    <li><a href="http://shotsherpa.com">
                        <svg class="product-icon">
                        <use xlink:href="{{@blog.url}}/assets/images/products.svg#shot-sherpa"></use>
                        </svg>ShotSherpa</a>
                    </li>
                    <li><a href="https://wondernetwork.com/wondervpn">
                        <svg class="product-icon">
                        <use xlink:href="{{@blog.url}}/assets/images/products.svg#wonder-vpn"></use>
                        </svg>WonderVPN</a>
                    </li>
                    <li><a href="https://wondernetwork.com/pings">
                        <svg class="product-icon">
                        <use xlink:href="{{@blog.url}}/assets/images/products.svg#global-ping"></use>
                        </svg>Global Ping Statistics</a>
                    </li>
                    <li><a href="http://wheresitfast.com/">
                        <svg class="product-icon">
                        <use xlink:href="{{@blog.url}}/assets/images/products.svg#wheres-it-fast"></use>
                        </svg>Where&#8217;s It Fast?</a>
                    </li>
                    <li><a href="https://wondernetwork.com">
                        <svg class="product-icon">
                        <use xlink:href="{{@blog.url}}/assets/images/products.svg#wondernetwork"></use>
                        </svg>WonderNetwork</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="m-footer-heading">Learn</h3>
                <ul>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/why">Why WonderProxy?</a></li>
                    <li><a href="/qa">For developers & QA</a></li>
                    <li><a href="/marketing">For marketers</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/localization-testing">What is localization testing?</a></li>
                    <li><a href="/what-is-geoip">What is geoIP?</a></li>
                </ul>
            </div>
            <div>
              <h3 class="m-footer-heading wp">WonderProxy</h3>
                <div class="l-grid">
                    <div>   
                        <ul>
                            <li><a href="/servers">Servers</a></li>
                            <li><a href="/features">Features</a></li>
                            <li><a href="/signup">Plans</a></li>
                            <li><a href="/signup/vpn">VPN plan</a></li>
                            <li><a href="/trial">Free trial</a></li>
                            <li><a href="/abuse">Abuse</a></li>
                            <li><a href="/contact">Contact us</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="/switcher">Browser extension</a></li>
                            <li><a href="/docs">Documentation</a></li>
                            <li><a href="/docs/setup">Setup</a></li>
                            <li><a href="/docs/devs">Developers</a></li>
                            <li><a href="/docs/devs/api/">API docs</a></li>
                            <li><a href="/residential-ip">Residential IPs</a></li>
                            <li><a href="/enterprise-proxies">Enterprise proxies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="m-footer-heading">Follow</h3>
                <ul>
                    <li><a href="https://twitter.com/wonderproxy">Twitter</a></li>
                    <li><a href="https://twitter.com/wonderstatus">Server status</a></li>
                    <li><a href="https://tumblr.wonderproxy.com">Network updates</a></li>
                    <li><a href="/newsletter">Newsletter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="m-footer-copyright m-footer__content">
      <span class="m-footer-copyright-text">Like most companies, we use analytics software and cookies to track how folks use our website. By using our site, you consent to this tracking. For more details, check out our <a href="/faq#cookies">FAQ</a>.</span>
      <span class="m-footer-copyright-text">&#169; {{date format="YYYY"}} WonderNetwork. Use of WonderProxy is governed by our <a href="/privacy">Privacy Policy</a> and <a href="/terms">Terms of Service</a>.</span>
</footer>
