{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}

{{#if isSecondary}}
  <ul class="m-secondary-menu">
    {{#foreach navigation}}
      {{#has slug="sign-up"}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
         <a href="{{url absolute="true"}}">
           {{#if @member}}
             {{t "Account"}}
           {{else}}
             {{label}}
           {{/if}}
         </a>
        </li>
      {{else}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
          <a href="{{url absolute="true"}}">{{label}}</a>
        </li>
      {{/has}}
    {{/foreach}}
  </ul>
{{else}}
  {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
      <a href="{{url absolute="true"}}">{{label}}</a>
    </li>
  {{/foreach}}
{{/if}}
