{{!< default }}
<!-- masonry
       ================================================== -->
{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="main-wrap">
    {{!-- Special header.hbs partial to generate the <header> tag --}}
    {{> header background=feature_image}}
    {{!-- Inject styles of the hero image to make it responsive --}}
    {{> hero background=feature_image}}
    <div class="m-hero__content" data-aos="fade-down">
        <h1 class="m-hero-title bigger">{{title}}</h1>
        {{#if custom_excerpt}}
        <p class="m-hero-description">{{custom_excerpt}}</p>
        {{/if}}
    </div>
    </section>
    <main>
        <article>
            <div class="l-content">
                <div class="l-wrapper in-post" data-aos="fade-up" data-aos-delay="300">
                    <div class="l-post-content">
                        <div class="pos-relative js-post-content">

                            <div class="" data-aos="fade-down">
                                <!--<h1 class="m-hero-title bigger">{{title}}</h1>-->
                                {{content}}
                                {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                                {{#foreach tags}}
                                <img src='{{feature_image}}' alt="">
                                <a href='{{ url }}'>
                                    <h2>{{ name }} <small>({{ count.posts }})</small></h2>

                                </a>
                                {{/foreach}}
                                {{/get}}
                                {{#if custom_excerpt}}
                                <p class="m-hero-description">{{custom_excerpt}}</p>
                                {{/if}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
</div>
{{/post}}

</div>

{{#contentFor "scripts"}}
<script defer src="{{asset "js/page.js"}}"></script>
{{/contentFor}}